
[Unit]
Description=Jupyterhub

[Service]
WorkingDirectory=/srv/jupyterhub
ExecStart=/usr/local/bin/jupyterhub --no-ssl
Restart=always

[Install]
WantedBy=multi-user.target

